/* Header */

.my-header {
    display: flex;
    gap: 10px;
}

.my-links{
    display: flex;
    gap: 20px;
   }
   
   .nav-link{
       font-weight: bold;
       text-decoration: none;
       color: #974d3b;
       
   }
   
   .nav-link:hover,.nav-link-active{
       color: #e17055;
       font-weight: bold;
       text-decoration: none;
   }

.container {
    min-height: 70vh;
    height: 100%;
}

.table-header {
    padding-left: 3vw;
    padding-right: 3vw;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 2fr 2fr;
    background-color: #f58f8f11;
    margin-bottom: 2px;
    align-items: center;
}

.table-header:hover {
    background-color: #f58f8f31;
    cursor: pointer;

}

.cell-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: auto;
    padding: 2px;
    border: solid 1px #f58f8f31;
    border-radius: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2px;
    border: solid 1px #f58f8f31;
    border-radius: 5px;
}

.cell>img {
    height: 150px;
    border-radius: 5px;
}


/* admin-Van-detail- */


.van-deatils-outer {
    min-height: 72vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);


}

.vehical-image{
    display: flex;
    align-items: center;
    justify-content: center;

}

.vehical-image>img{
    height: 400px;
    border-radius: 10px;
}

.vehicale-details{
    
}